
<style type="text/css">
	.container {
		border-radius: 20px;
		background-color: #ccff90;
		border: solid #00c853 1px;
		color: #00c853;
	}	
	input {
		text-align: left;

	}

</style>

<form method="GET" action="/plants/garden">
		<button type="submit" class="green lighten-1 waves-effect waves-light btn-large">See My Garden</button>
</form>

<div class="container row centerit">
	<div col s3 >
	<h5 style="font-family: 'Antic'">Share images of your Garden here!</h5>
		<form enctype="multipart/form-data" action="/gallery" method="POST" style="color:#388e3c">
			<input type="file" name="userImage">
			<input type="submit" class="button green lighten-1 waves-effect waves-light btn">
		</form>
	</div>	
</div>	





<div class="row" class="blocks">	
	<% images.forEach(function(image) { %>
			<div class="col s3" class="block js-equal-height" style="font-size: 14px">
				
				<%- cloudinary.image(image.image, {effect:"saturation:50", radius: 15, height: 250, gravity:'face', crop:'thumb', }) %><br>
				<%- image.text%>
				 <a href="/gallery/<%= image.id %>/edit" class="">Edit Caption</a>
			</div>
	<% }); %>		
</div>			
	




	
