<h1>My Garden</h1>

<div class="row">
	<div>
	<% user.plants.forEach(function(plant) {%>
		<p>
			<div class="row centerit">
				<div><a href="plants/<%= plant.id %>"><h5><%= plant.name %></h5></a></div>  
				<div class="info col s1 offset-s3"><img src="<%- plant.image %>"</div>
				<div class="info col s4 offset-s1"><%= plant.info %></div>
			</div>
		</p>
		<% }); %>
	</div>	
</div>