<!-- <header><img src="images/lettucerows.png" width="100%"></header> -->

<h1><a href="/plants" class="green-text text-darken-4">See All Vegetables</a></h1>


<% if (!currentUser)  { %>


	<div class="row centerit">  
	  <a href="/auth/signup" size="100" class="button light-green lighten-1 waves-effect waves-light btn-large">New User? Signup Here!</a>
	  <a href="/auth/login" class="button green lighten-1 waves-effect waves-light btn-large">Login to Your Account</a>
	</div>	  

<% } else { %>
	<div class="row centerit">  
	  <a href="/plants/garden" class="button light-green lighten-1 waves-effect waves-light btn-large">See Your Vegetable Garden</a>
	</div>
	
<% } %>
<div><img src="/images/veggiestrip.png" width="100%"></div>

