
<div class="container">
	<h1 class="green-text text-darken-2">Vegetables</h1>
	<div class="row" class="blocks">
		<% plantsList.forEach(function(plant) {%>				
			<div class="col s6" class="block js-equal-height">
				<div class="divider"></div>
					<a href="plants/<%- plant.id%> "><%= plant.name %></a>
						<div class="truncate" class="float-text"><%= plant.info %></div>
						<div><%- plant.image %></div>
						
			</div>	
		<% }) %>
	</div>	
</div>	




