 html {
    font-family: serif;
  }
  body {
  	font-family: "Crushed";
  }
div {
	font-family: "Antic";
	font-size: 20px;
}
h1 {
	text-align: center;
	color: #66bb6a;
}
h3 {
	color: #66bb6a;
	text-align: center;
}
a {
	text-align: center;
	color: #66bb6a;
}
.info {
	font-size: 22px;
	text-align: left;
}

.showplant {
	text-align: center;
}
.welcome {
	margin-left: 25px;
	font-family: "Crushed";
	font-size: 26px;
	color: #ff1744;
}
